*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
version.txt
*.jar
!*/lib/*.jar
!**/gradle/**
*.war
*.ear

configs/spectra/replstate.properties

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.log
*.iml
.idea
.gradle

# any kind of builds and outputs
*/build/**
*/out/**
*/output/**
